<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--config-->
<head th:replace="/fragments/config :: config">
    <title>title parameter</title>
</head>

<!--content css-->
<th:block layout:fragment="css"></th:block>

<!--content script-->
<th:block layout:fragment="script"></th:block>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <!--header-->
        <header th:replace="/fragments/header :: header"></header>

        <!--sidebar-->
        <th:block th:replace="/fragments/sidebar :: sidebar"></th:block>

        <!--content-->
        <div layout:fragment="content"></div>

        <!--footer-->
        <footer th:replace="/fragments/footer :: footer"></footer>
    </section>
</body>

</html>