<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">
    <!-- ============================================================================ -->
    <!-- Project        : not-tomato                                                  -->
    <!-- Create Date    : 2022.06.06                                                  -->
    <!-- Author         : junior zeromi                                               -->
    <!-- Description    : 뽀모도로를 가장한 사심 채우기 프로젝트다                              -->
    <!-- ============================================================================ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"><!--임시-->
<!--    <script th:src="@{/js/fragments/config.js}"></script>&lt;!&ndash;임시&ndash;&gt;-->
    <title>not-tomato</title><!--임시-->
</head>
</html>